/**
	Toolbar style
*/
div#toolBar
{
	margin: 0 2px;
	padding: 2px 10px;
	top: 8px;
	left: 50px;
	background: #C8E2E8;
	border-radius: 10px;
	 box-shadow: 0 5px 5px #ccc;
	-moz-box-shadow:0 5px 5px #ccc;
	-webkit-box-shadow:0 5px 5px #ccc;
	-webkit-box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, .8);
}
/*tool pointer applied to map*/
#container .Info
{
	cursor: url("images/info.png") 11 20, auto;
}
#container .ZoomBox
{
	cursor: url("images/ZoomSelection.png") 11 20, auto;
}
#container .Pan
{
	cursor: url("images/Cross.png") 11 20, auto;
}

.olControlPanel div
{
	display: block;
	width: 24px;
	height: 24px;
	margin: 5px;
	border: 1px solid gray;
	float:left;
	cursor: pointer;
	background-color: white;
}

.olControlPanel .PanItemActive
{
	background-color: yellow;
	background-image: url("images/Pan.png");
}
.olControlPanel .PanItemInactive
{
	background-color: white;
	background-image: url("images/Pan.png");
}
.olControlPanel .olControlDrawFeatureItemActive
{
	background-image: url("images/drawLine.png");
}
.olControlPanel .olControlDrawFeatureItemInactive
{
	background-image: url("images/drawLine.png");
}
.olControlPanel .olControlZoomBoxItemInactive
{
	background-color: white;
	background-image: url("images/ZoomSelection.png");
}
.olControlPanel .olControlZoomBoxItemActive
{
	background-color: yellow;
	background-image: url("images/ZoomSelection.png");
}
.olControlPanel .olControlZoomToMaxExtentItemInactive
{
	background-color: white;
	background-image: url("images/ZoomExtent.png");
}
.olControlPanel .infoItemInactive
{
	background-color: white;
	background-image: url("images/info.png");
}
.olControlPanel .infoItemActive
{
	background-color: yellow;
	background-image: url("images/info.png");
}