@{
    ViewBag.Title = "Salisbury City - Change Password";
}
<div class="mainContainer container-fluid">
    <div class="row-fluid">
        <!--Navigation-->
        <div class="span3">
            @Html.Partial("adminNavPartial", new ViewDataDictionary() { { "changePasswordCss", "active" } })
        </div>
        <!--Page content-->
        <div class="span9">
            <section id="Home">
                <ul class="breadcrumb">
                    <li><a href="@Url.Action("Index", "Admin")">Home</a> <span class="divider">/</span></li>
                    <li><a href="@Url.Action("Index", "Account")">Membership</a> <span class="divider">/</span></li>
                    <li class="active">Change Password</li>
                </ul>
                <p>
                </p>
                <div class="well">
                    <div class="alert alert-important">
                        <h4>Success</h4>
                        <p>
                            <span>Your password has been changed.</span>
                        </p>
                        <div>
                            @Html.ActionLink("Home", "Index", "Admin", new { @class="btn"}) 
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
> 